<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script type="text/javascript" src="./lib/vue-2.4.0.js"></script>
</head>
<body>
	<div id="app">
		<input type="text" v-model="firstname" > +
		<input type="text" v-model="lastname" > =
		<input type="text" v-model="fullname" >
	</div>

	<script type="text/javascript">
		var vm = new Vue({
			el : "#app",
			data : {
				firstname : '',
				lastname : '',
				fullname : ''
			},
			methods : {},
			watch : {
				'firstname' : function(newVal, oldVal){
					/*this.fullname = this.firstname + "-" + this.lastname*/
					this.fullname = newVal + "-" + this.lastname
				},
				'lastname' : function(newVal){
					/*this.fullname = this.firstname + "-" + this.lastname*/
					this.fullname = this.firstname + '-' + newVal
				},
				
			}
		})
	</script>
</body>
</html>
